<!doctype html>
<html lang="en">
  <head>

    <link rel="stylesheet" href="https://openlayers.org/en/v4.1.0/css/ol.css" type="text/css">
    <!-- The line below is only needed for old environments like Internet Explorer and Android 4.x -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <script src="https://openlayers.org/en/v4.1.0/build/ol.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <style>
      .map {
        height: 100%;
        width: 100%;
      }
    </style>
    {% load static %}
    <title>RiverScope</title>
  </head>
  <body>
    <div id="map" class="map">
      <div id="point_popup" data-toggle="popover">
      <canvas id="chart_div" style="width: 40px; height: 30px; opacity: 0.0"></canvas>
      </div>

    <script type="text/javascript">

      var point_style = new ol.style.Style({
        image: new ol.style.Circle({
          fill: new ol.style.Fill({color: 'blue'}),
          stroke: new ol.style.Stroke({color: '#003366'}),
          radius: 4
        })
      });

      var fmt = new ol.format.GeoJSON();
      var features = fmt.readFeatures(
        '{{stations|escapejs}}',
        {featureProjection: 'EPSG:3857'}
        );

      var stations_sc = new ol.source.Vector({features: features});
      var stations_lyr = new ol.layer.Vector({source: stations_sc, style: point_style});
      var basemap_lyr = new ol.layer.Tile({source: new ol.source.OSM()});

      var map = new ol.Map({
        target: 'map',
        layers: [
          basemap_lyr,
          stations_lyr
        ],
        view: new ol.View({
          center: ol.proj.fromLonLat([-3.4360, 55.3781]),
          zoom: 6
        })
      });

      var point_popup = document.getElementById('point_popup');

      // Add an overlay for point-click popup
      var popup = new ol.Overlay({
        element: point_popup,
        positioning: 'bottom-center',
        stopEvent: false,
        offset: [0, 100]
      });
      map.addOverlay(popup);


      var curr_popup_feature;
      // change mouse cursor when over marker
      function onmove_event(event) {
        var pixel = map.getEventPixel(event.originalEvent);
        var feature = map.forEachFeatureAtPixel(event.pixel, function(feature) {return feature;});
        // Prevent the popup from flickering on every move
        if (feature && feature === curr_popup_feature) {
          return;
        }

        if (feature) {
          curr_popup_feature = feature;
          map.getTargetElement().style.cursor = 'pointer';
          var coordinates = feature.getGeometry().getCoordinates();
          popup.setPosition(coordinates);
          displayLineChart(feature.get('measures'), feature.get('measure_datetimes'), feature.get('typical_low'), feature.get('typical_high'));
          $(point_popup).popover({
            placement: 'top',
            html: true
          });

          var typical_range;
          if (feature.get('typical_low') === null | feature.get('typical_high') === null) {
            typical_range = "";
          } else {
            typical_range = "Typical range: " + feature.get('typical_low') + ' - ' + feature.get('typical_high');
          }

          $(point_popup).attr('data-original-title', "<div><h4>" + feature.get('label') + "</h4></div>");
          $(point_popup).popover('show');
        } else {
          $(point_popup).popover('destroy');
          map.getTargetElement().style.cursor = '';
          curr_popup_feature = null;
        }
      };
      map.on('pointermove', onmove_event);


function displayLineChart(array, labels, ymin, ymax) {
    var data = {
        labels: labels,
        datasets: [
            {
                label: "Station",
                fillColor: "rgba(220,220,220,1)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: array
            }
        ],
      scales: {
        yAxes: [{

            ticks: {
                beginAtZero: true,
                min: ymin,
                max: ymax
            }
        }]
    }
    };
    var ctx = document.getElementById("chart_div");
    var lineChart = new Chart(ctx, {type: 'line', data: data, options: {animation: false}});
    $('#point_popup').attr('data-content', '<img id= "chart_img" src=" '+ ctx.toDataURL('image/png') +'" style="width: 100%"/>');
  }


    </script>
  </body>
</html>